<%= form_for @pool do |f| %>
  <div data-role="fieldcontain">
    <%= f.label :tournament_id %>
    <%= f.collection_select(:tournament_id, Tournament.all, :id, :name, { :selected => @tournament.id }) %>
  </div>
  <div data-role="fieldcontain"><%= f.label :name %> <%= f.text_field :name %></div>
  
  <%= f.submit :Save, 'data-theme' => 'b' %>
  <% if @pool.new? %>
    <%= link_to 'Cancel', @tournament, 'data-role' => 'button' %>
  <% else %>
    <%= link_to 'Cancel', @pool, 'data-role' => 'button' %>
    <%= link_to 'Delete', @pool, :confirm => 'Are you sure?', :method => :delete, 'data-role' => 'button', 'data-theme' => 'e' %>
  <% end %>
<% end %>