<%= form_for @pool do |f| %>
  <div data-role="fieldcontain">
    <%= f.label :tournament_id %>
    <% if @pool.new? %>
      <% if params[:tournament_id] %>
        <%= f.collection_select(:tournament_id, Tournament.all, :id, :name, { :prompt => '- Select Tournament -', :selected => params[:tournament_id] }, :disabled => true) %>
      <% else %>
        <%= f.collection_select(:tournament_id, Tournament.all, :id, :name, { :prompt => '- Select Tournament -', :selected => params[:tournament_id] }) %>
      <% end %>
    <% else %>
      <%= f.collection_select(:tournament_id, Tournament.all, :id, :name, { :prompt => '- Select Tournament -', :selected => @tournament }, :disabled => true) %>
    <% end %>
  </div>
  <div data-role="fieldcontain"><%= f.label :name %> <%= f.text_field :name %></div>
  
  <%= f.submit :Save %>
  <% if ! @pool.new? %>
    <%= link_to 'Delete', @pool, :confirm => 'Are you sure?', :method => :delete, 'data-role' => 'button', 'data-theme' => 'e' %>
  <% end %>
<% end %>