<% content_for :header do %>
  <%= link_to truncate(@pool.tournament.name, :length => 12), @pool.tournament,
              :class => 'ui-btn-left ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-carat-l' %>
  <h1 class="ui-title" role="heading" aria-level="1"><%= @pool.name %></h1>
  <%= link_to '', edit_pool_path(@pool), :class => 'ui-btn-right ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-edit' if user_can_do_shit? %>
<% end %>

<% if user_can_do_shit? %>
  <div data-role="controlgroup" data-type="horizontal" data-mini="true">
    <%= link_to 'New Team', new_team_path(:tournament_id => @pool.tournament.id, :pool_id => @pool.id),
               'data-role' => 'button', 'data-theme' => 'b' %>
    <% if @pool.teams.length >= 2 %>
      <%= link_to 'New Game', new_game_path(:tournament_id => @pool.tournament.id, :pool_id => @pool.id), 
                  'data-role' => 'button', 'data-theme' => 'b' %>
    <% end %>
  </div>
<% end %>

<div data-role="navbar">
  <ul>
    <li><a id="a_standings" class="ui-btn-active ui-btn-up-c">Standings</a></li>
    <li><a id="a_games">Schedule</a></li>
  </ul>
</div>

<div id="panes">

  <div class="pane">
    <%= render :partial => 'teams/standings', :locals => { :teams => @pool.standings } %>
  </div>

  <div class="pane none">
    <div id="games">
      <ul data-role="listview" data-inset="true" data-split-theme="d">
        <% @pool.schedule.each do |game| %>
          <li>
            <%= link_to "#{l(game.date.in_time_zone('America/Chicago'), :format => :nicetime)}
                         - Court #{game.court_id}
                         - #{game.winner.name} (#{game.score_winner}) def. #{game.loser.name} (#{game.score_loser})", game %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>