<h1><%= @pool.name %></h1>
<%= link_to 'Edit Pool', edit_pool_url(@pool) %><br />
<h2>Tournament: <%= link_to @pool.tournament.name, @pool.tournament %></h2>

<h3>Standings</h3>
<%= render :partial => 'teams/standings', :locals => { :teams => @pool.standings } %>

<%= link_to 'New Team', new_team_url(:tournament_id => @pool.tournament.id, :pool_id => @pool.id) %><br />

<% if @pool.teams.length >= 2 %>
  <%= link_to 'New Game', new_game_url(:tournament_id => @pool.tournament.id, :pool_id => @pool.id) %><br />
<% end %>