<h1><%= @pool.name %></h1>
<h2><%= @pool.tournament.name %></h2>

<h3>Teams</h3>
<table><tbody>
  <% @pool.teams.each do |team| %>
    <tr>
      <td><%= link_to team.name, team %></td>
      <td><%= team.games %></td>
      <td><%= team.games %></td>
    </tr>
  <% end %>
</tbody></table>

<%= link_to 'Edit Pool', edit_pool_url(@pool) %>