<table id="standings"><tbody>
  <tr>
    <th></th>
    <th>Team</th>
    <th class="num">W</th>
    <th class="num">L</th>
    <th class="num">%</th>
    <th class="num">+/-</th>
  </tr>
  <% i = 0 %>
  <% teams.each do |team| %>
    <tr>
      <td class="num"><%= i += 1 %></td>
      <td><%= link_to team.name, team %></td>
      <td class="num"><%= team.wins.length %></td>
      <td class="num"><%= team.losses.length %></td>
      <td class="num"><%= format_win_percentage(team.win_percentage) %></td>
      <td class="num"><%= team.differential %></td>
    </tr>
  <% end %>
</tbody></table>