<table><tbody>
  <tr>
    <th></th>
    <th>Team</th>
    <th>W</th>
    <th>L</th>
    <th>%</th>
    <th>Diff</th>
  </tr>
  <% i = 0 %>
  <% teams.each do |team| %>
    <tr>
      <td><%= i += 1 %></td>
      <td><%= link_to team.name, team %></td>
      <td><%= team.wins.length %></td>
      <td><%= team.losses.length %></td>
      <td><%= format_win_percentage(team.win_percentage) %></td>
      <td><%= team.differential %></td>
    </tr>
  <% end %>
</tbody></table>