<h1><%= @team.name %></h1>
<%= link_to 'Edit Team', edit_team_url(@team) %>
<h2>Tournament: <%= link_to @team.tournament.name, @team.tournament %></h2>
<h3>Pool: <%= link_to @team.pool.name, @team.pool %></h3>
<p>Record: <%= @team.wins.length %> - <%= @team.losses.length %></p>

<h3>Games</h3>
<ul>
  <% @team.games.each do |game| %>
    <li>
      <% if game.winner?(@team) %>
        W vs. <%= link_to game.loser.name, game.loser %> (<%= game.score_winner %> - <%= game.score_loser %>)
      <% else %>
        L vs. <%= link_to game.winner.name, game.winner %> (<%= game.score_loser %> - <%= game.score_winner %>)
      <% end %>
    </li>
  <% end %>
</ul>

<h3>Head 2 Head</h3>
<ul>
  <% @team.pool.teams.each do |team| %>
    <% if @team != team %>
      <li><%= team.name %>: <%= @team.head2head(team)[0] %> - <%= @team.head2head(team)[1] %></li>
    <% end %>
  <% end %>
</ul>