<%= form_for game, :remote => true, :format => :json do |f| %>

<div class="s2">
  <div class="teams">
    <div class="top">
      <%= render view_home, :team => game.home, :prev => prev_home %>
      <%= f.text_field :score_home, { :id => "game_score_home_#{game.id}", :placeholder => 0  } %>
      <div class="lines"></div>
    </div>
    <div class="bottom">
      <div class="lines"></div>
      <%= render view_away, :team => game.away, :prev => prev_away %>
      <%= f.text_field :score_away, { :placeholder => 0 } %>
    </div>
  </div>
  <%= f.submit :Save, 'data-theme' => 'b' %>
</div>

<% end %>