<%= form_for @tournament do |f| %>

  <div data-role="fieldcontain"><%= f.label :name %> <%= f.text_field :name %></div>
  <div data-role="fieldcontain"><%= f.label :date %> <%= f.text_field :date, :value => l(@tournament.date, :format => :nice) %></div>
  
  <%= f.submit :Save %>
  <% if ! @tournament.new? %>
    <%= link_to 'Delete', @tournament, :confirm => 'Are you sure?', :method => :delete, 'data-role' => 'button', 'data-theme' => 'e' %>
  <% end %>
<% end %>