<% content_for :header do %>
  <%= link_to 'Home', root_path, :class => 'ui-btn-left ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-home' if user_can_do_shit? %>
  <h1 class="ui-title" role="heading" aria-level="1"><%= @tournament.name %></h1>
  <%= link_to 'Edit', edit_tournament_path(@tournament), :class => 'ui-btn-right ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-edit' if user_can_do_shit? %>
<% end %>

<p>
  <%= l @tournament.date, :format => :nice %> at <%= @tournament.location %>
</p>

<% if user_can_do_shit? %>
  <div data-role="controlgroup" data-type="horizontal" data-mini="true">
    <%= link_to 'New Team', new_team_path(:tournament_id => @tournament.id), 'data-role' => 'button', 'data-theme' => 'b' %>
    <%= link_to 'New Pool', new_pool_path(:tournament_id => @tournament.id), 'data-role' => 'button', 'data-theme' => 'b' %>
    <!-- <%= link_to 'Fill Pools', @tournament.bracket, 'data-role' => 'button', 'data-theme' => 'b' %> -->
    <!-- <%= link_to 'View Bracket', @tournament.bracket, 'target' => '_blank', 'data-role' => 'button', 'data-theme' => 'b' %> -->
  </div>
<% end %>

<div data-role="navbar">
  <ul>
    <li><a id="a_pools" class="ui-btn-active ui-btn-up-c">Pools</a></li>
    <li><a id="a_standings">Standings</a></li>
  </ul>
</div>

<div id="panes">

  <div class="pane">
    <div id="pools">
      <ul data-role="listview" data-inset="true">
        <% @tournament.pools.sort_by{|p| p.name}.each do |pool| %>
          <li><%= link_to pool.name, pool %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="pane none">
    <%= render :partial => 'teams/standings', :locals => { :teams => @tournament.standings } %>
  </div>

</div>