<h1><%= @tournament.name %></h1>
<p><%= l @tournament.date, :format => :nice %></p>
<%= link_to 'Edit Tournament', edit_tournament_url(@tournament) %>

<h3>Pools</h3>
<ul>
  <% @tournament.pools.each do |pool| %>
    <li><%= link_to pool.name, pool %></li>
  <% end %>
</ul>
<%= link_to 'New Pool', new_pool_url(:tournament_id => @tournament.id) %><br />

<h3>Standings</h3>
<%= render :partial => 'teams/standings', :locals => { :teams => @tournament.standings } %>