<p><%= l @tournament.date, :format => :nice %></p>

<p><%= @tournament.location %></p>

<p><%= link_to 'Print Your Bracket', @tournament.bracket_url,
               'data-role'=>"button", 'data-theme'=>"b", 'data-icon'=>"arrow-r", 'data-inline'=>"true", 'data-iconpos'=>"right", 'data-mini'=>"true" %></p>

<div data-role="navbar">
  <ul>
    <li><a id="a_standings" class="ui-btn-active ui-btn-up-c">Standings</a></li>
    <li><a id="a_pools">Pools</a></li>
  </ul>
</div>

<div id="panes">

  <div class="pane">
    <%= render :partial => 'teams/standings', :locals => { :teams => @tournament.standings } %>
  </div>

  <div class="pane none">
    <div id="pools">
      <ul data-role="listview" data-inset="true">
        <% @tournament.pools.each do |pool| %>
          <li><%= link_to pool.name, pool %></li>
        <% end %>
        <li data-theme="b"><%= link_to 'New Pool', new_pool_url(:tournament_id => @tournament.id) %></li>
      </ul>
    </div>
  </div>

</div>

<%= link_to 'Edit Tournament', edit_tournament_url(@tournament), 'data-role' => 'button', 'data-theme' => 'e' %>