<h1><%= @tournament.name %></h1>
<p><%= @tournament.date.to_s(:long) %></p>

<h3>Pools</h3>
<ul>
  <% @tournament.pools.each do |pool| %>
    <li>
      <%= link_to pool.name, pool %> (<%= pool.teams.count %>)
      <ul style="display:none">
        <% pool.teams.each do |team| %>
          <li><%= link_to team.name, team %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<%= link_to 'New Pool', new_pool_url %>