<div data-role="fieldcontain">
  <%= f.label :tournament_id %>
  <%= f.hidden_field(:tournament_id, :value => @tournament.id) %>
  <div class="value"><%= @tournament.name %></div>
</div>
<div data-role="fieldcontain">
  <%= f.label :pool_id %>
  <%= f.hidden_field(:pool_id, :value => @pool.id) %>
  <div class="value"><%= @pool.name %></div>
</div>
<div data-role="fieldcontain">
  <%= f.label :date, 'Time' %>
  <%= f.text_field :date, { :value => l(@game.date.in_time_zone('America/Chicago'), :format => :his) } %>
</div>
<div data-role="fieldcontain">
  <%= f.label :court_id %>
  <%= f.text_field :court_id, { :placeholder => 0 } %>
</div>
<div data-role="fieldcontain">
  <%= f.label :ref_id, 'Referee' %>
  <%= f.collection_select(:ref_id, @pool.teams, :id, :name, { :prompt => 'Select Referee Team' }) %>
</div>
<div data-role="fieldcontain">
  <%= f.label :away_id %>
  <%= f.collection_select(:away_id, @pool.teams, :id, :name, { :prompt => 'Select Away Team' }, :disabled => ! @game.new?) %>
</div>
<div data-role="fieldcontain">
  <%= f.label :score_away, "Away Score" %>
  <%= f.text_field :score_away, { :placeholder => 0  } %>
</div>
<div data-role="fieldcontain">
  <%= f.label :home_id %>
  <%= f.collection_select(:home_id, @pool.teams, :id, :name, { :prompt => 'Select Home Team' }, :disabled => ! @game.new?) %>
</div>
<div data-role="fieldcontain">
  <%= f.label :score_home, "Home Score" %>
  <%= f.text_field :score_home, { :placeholder => 0 } %>
</div>
<% unless @game.new? %>
  <%= link_to 'Delete', @game, :confirm => 'Are you sure?', :method => :delete, 'data-role' => 'button', 'data-theme' => 'b' %>
<% end %>