<%= form_for @game do |f| %>
  <p><%= f.collection_select(:tournament_id, Tournament.all, :id, :name, { :prompt => '- Select Tournament -', :selected => params[:tournament_id] }) %></p>
  <p><%= f.collection_select(:pool_id, Pool.all, :id, :name, { :prompt => '- Select Pool -', :selected => params[:pool_id] }) %></p>
  <p>
    <%= f.collection_select(:away_id, Team.all, :id, :name, { :prompt => '- Select Away -', :selected => params[:away_id] }) %>
    <%= f.text_field :score_away %>
    vs
    <%= f.collection_select(:home_id, Team.all, :id, :name, { :prompt => '- Select Home -', :selected => params[:home_id] }) %>
    <%= f.text_field :score_home %>
  </p>   
  <p><%= f.submit :Save %></p>
<% end %>