<%= form_for @game do |f| %>
  <div data-role="fieldcontain">
    <%= f.label :tournament_id %>
    <%= f.collection_select(:tournament_id, Tournament.all, :id, :name, { :selected => @tournament.id }) %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :pool_id %>
    <%= f.collection_select(:pool_id, Pool.all, :id, :name, { :selected => @pool.id }) %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :away_id %>
    <%= f.collection_select(:away_id, @teams, :id, :name, { :prompt => 'Select Away Team', :selected => @game.away.id }, :disabled => !@game.new?) %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :score_away %>
    <%= f.text_field :score_away, { :placeholder => 0  } %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :home_id %>
    <%= f.collection_select(:home_id, @teams, :id, :name, { :prompt => 'Select Home Team', :selected => @game.home.id }, :disabled => !@game.new?) %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :score_home %>
    <%= f.text_field :score_home, { :placeholder => 0 } %>
  </div>   
  
  <%= f.submit :Save, 'data-theme' => 'b' %>
  <% if @game.new? %>
    <%= link_to 'Cancel', @pool, 'data-role' => 'button' %>
  <% else %>
    <%= link_to 'Cancel', @game, 'data-role' => 'button' %>
    <%= link_to 'Delete', @game, :confirm => 'Are you sure?', :method => :delete, 'data-role' => 'button', 'data-theme' => 'e' %>
  <% end %>
<% end %>