<%= form_for @game do |f| %>
  <p><%= f.label :tournament_id %>: <%= f.select :tournament_id, Tournament.all.collect {|t| [ t.name, t.id ] } %></p>
  <p><%= f.label :pool_id %>: <%= f.select :pool_id, Pool.all.collect {|p| [ p.name, p.id ] } %></p>
  <p>
    <%= f.label :away_id %>: <%= f.select :away_id, Team.all.collect {|t| [ t.name, t.id ] } %> <%= f.text_field :score_away %>
    vs
    <%= f.label :home_id %>: <%= f.select :home_id, Team.all.collect {|t| [ t.name, t.id ] } %> <%= f.text_field :score_home %>
  </p>   
  <p><%= f.submit :Save %></p>
<% end %>